@font-face {
  font-family: "Inter - Bold";
  src: url("../fonts/inter-bold.eot");
  src: url("../fonts/inter-bold?#iefix") format("embedded-opentype"), url("../fonts/inter-bold.svg#Plumb-Black") format("svg"), url("../fonts/inter-bold.ttf") format("truetype"), url("../fonts/inter-bold.woff") format("woff"), url("../fonts/inter-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter - Regular";
  src: url("../fonts/inter-regular.eot");
  src: url("../fonts/inter-regular?#iefix") format("embedded-opentype"), url("../fonts/inter-regular.svg#Plumb-Black") format("svg"), url("../fonts/inter-regular.ttf") format("truetype"), url("../fonts/inter-regular.woff") format("woff"), url("../fonts/inter-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
}

body {
  margin: 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased !important;
  background-color: #fff;
  color: #fff;
  font-family: "Inter - Bold";
  font-size: 14px;
  font-weight: 700;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 500;
}

img {
  border: 0;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

pre {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  background-color: transparent;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
}

html,
body,
main {
  min-height: 100vh;
}

main {
  display: block;
  height: auto;
}

.noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

textarea:focus,
input:focus {
  outline: 0;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  cursor: default;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

a p,
a span,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  cursor: pointer;
}

.clear {
  clear: both;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

[class*="col_"] {
  flex: none;
  min-height: 1px;
  flex-grow: 0;
  flex-shrink: 1;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.col_1 {
  min-width: 8.33333%;
  max-width: 8.33333%;
  flex-basis: 8.33333%;
}

.col_2 {
  min-width: 16.66667%;
  max-width: 16.66667%;
  flex-basis: 16.66667%;
}

.col_3 {
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}

.col_4 {
  min-width: 33.33333%;
  max-width: 33.33333%;
  flex-basis: 33.33333%;
}

.col_5 {
  min-width: 41.66667%;
  max-width: 41.66667%;
  flex-basis: 41.66667%;
}

.col_6 {
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
}

.col_7 {
  min-width: 58.33333%;
  max-width: 58.33333%;
  flex-basis: 58.33333%;
}

.col_8 {
  min-width: 66.66667%;
  max-width: 66.66667%;
  flex-basis: 66.66667%;
}

.col_9 {
  min-width: 75%;
  max-width: 75%;
  flex-basis: 75%;
}

.col_10 {
  min-width: 83.33333%;
  max-width: 83.33333%;
  flex-basis: 83.33333%;
}

.col_11 {
  min-width: 91.66667%;
  max-width: 91.66667%;
  flex-basis: 91.66667%;
}

.col_12 {
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;
}

@media (max-width: 767px) {
  .s_hide {
    display: none !important;
  }
  .s_show {
    display: flex !important;
    flex-direction: column;
  }
  .s_show_b {
    display: block !important;
  }
  .col_s_auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_s {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  .s_offset_1 {
    margin-left: calc((1 * (100% / 12)));
  }
  .s_offset_2 {
    margin-left: calc((2 * (100% / 12)));
  }
  .s_offset_3 {
    margin-left: calc((3 * (100% / 12)));
  }
  .s_offset_4 {
    margin-left: calc((4 * (100% / 12)));
  }
  .s_offset_5 {
    margin-left: calc((5 * (100% / 12)));
  }
  .s_offset_6 {
    margin-left: calc((6 * (100% / 12)));
  }
  .s_offset_7 {
    margin-left: calc((7 * (100% / 12)));
  }
  .s_offset_8 {
    margin-left: calc((8 * (100% / 12)));
  }
  .s_offset_9 {
    margin-left: calc((9 * (100% / 12)));
  }
  .s_offset_10 {
    margin-left: calc((10 * (100% / 12)));
  }
  .s_offset_11 {
    margin-left: calc((11 * (100% / 12)));
  }
  .s_offset_12 {
    margin-left: calc((12 * (100% / 12)));
  }
  .col_s_1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col_s_2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col_s_3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col_s_4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col_s_5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col_s_6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col_s_7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col_s_8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col_s_9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col_s_10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col_s_11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col_s_12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .m_hide {
    display: none !important;
  }
  .m_show {
    display: flex !important;
    flex-direction: column;
  }
  .m_show_b {
    display: block !important;
  }
  .col_m_auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_m {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  .m_offset_1 {
    margin-left: calc((1 * (100% / 12)));
  }
  .m_offset_2 {
    margin-left: calc((2 * (100% / 12)));
  }
  .m_offset_3 {
    margin-left: calc((3 * (100% / 12)));
  }
  .m_offset_4 {
    margin-left: calc((4 * (100% / 12)));
  }
  .m_offset_5 {
    margin-left: calc((5 * (100% / 12)));
  }
  .m_offset_6 {
    margin-left: calc((6 * (100% / 12)));
  }
  .m_offset_7 {
    margin-left: calc((7 * (100% / 12)));
  }
  .m_offset_8 {
    margin-left: calc((8 * (100% / 12)));
  }
  .m_offset_9 {
    margin-left: calc((9 * (100% / 12)));
  }
  .m_offset_10 {
    margin-left: calc((10 * (100% / 12)));
  }
  .m_offset_11 {
    margin-left: calc((11 * (100% / 12)));
  }
  .m_offset_12 {
    margin-left: calc((12 * (100% / 12)));
  }
  .col_m_1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col_m_2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col_m_3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col_m_4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col_m_5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col_m_6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col_m_7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col_m_8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col_m_9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col_m_10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col_m_11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col_m_12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 1001px) and (max-width: 1025px) {
  .l_hide {
    display: none !important;
  }
  .l_show {
    display: flex !important;
    flex-direction: column;
  }
  .l_show_b {
    display: block !important;
  }
  .col_l_auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_l {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  .l_offset_1 {
    margin-left: calc((1 * (100% / 12)));
  }
  .l_offset_2 {
    margin-left: calc((2 * (100% / 12)));
  }
  .l_offset_3 {
    margin-left: calc((3 * (100% / 12)));
  }
  .l_offset_4 {
    margin-left: calc((4 * (100% / 12)));
  }
  .l_offset_5 {
    margin-left: calc((5 * (100% / 12)));
  }
  .l_offset_6 {
    margin-left: calc((6 * (100% / 12)));
  }
  .l_offset_7 {
    margin-left: calc((7 * (100% / 12)));
  }
  .l_offset_8 {
    margin-left: calc((8 * (100% / 12)));
  }
  .l_offset_9 {
    margin-left: calc((9 * (100% / 12)));
  }
  .l_offset_10 {
    margin-left: calc((10 * (100% / 12)));
  }
  .l_offset_11 {
    margin-left: calc((11 * (100% / 12)));
  }
  .l_offset_12 {
    margin-left: calc((12 * (100% / 12)));
  }
  .col_l_1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col_l_2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col_l_3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col_l_4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col_l_5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col_l_6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col_l_7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col_l_8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col_l_9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col_l_10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col_l_11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col_l_12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 1025px) {
  .xl_hide {
    display: none !important;
  }
  .xl_show {
    display: flex !important;
    flex-direction: column;
  }
  .xl_show_b {
    display: block !important;
  }
  .col_xl_auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  .xl_offset_1 {
    margin-left: calc((1 * (100% / 12)));
  }
  .xl_offset_2 {
    margin-left: calc((2 * (100% / 12)));
  }
  .xl_offset_3 {
    margin-left: calc((3 * (100% / 12)));
  }
  .xl_offset_4 {
    margin-left: calc((4 * (100% / 12)));
  }
  .xl_offset_5 {
    margin-left: calc((5 * (100% / 12)));
  }
  .xl_offset_6 {
    margin-left: calc((6 * (100% / 12)));
  }
  .xl_offset_7 {
    margin-left: calc((7 * (100% / 12)));
  }
  .xl_offset_8 {
    margin-left: calc((8 * (100% / 12)));
  }
  .xl_offset_9 {
    margin-left: calc((9 * (100% / 12)));
  }
  .xl_offset_10 {
    margin-left: calc((10 * (100% / 12)));
  }
  .xl_offset_11 {
    margin-left: calc((11 * (100% / 12)));
  }
  .xl_offset_12 {
    margin-left: calc((12 * (100% / 12)));
  }
  .col_xl_1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col_xl_2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col_xl_3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col_xl_4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col_xl_5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col_xl_6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col_xl_7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col_xl_8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col_xl_9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col_xl_10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col_xl_11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col_xl_12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

.df {
  display: flex;
  align-items: center;
}

.df.s_betwen {
  justify-content: space-between;
}

.df.center {
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 96px;
}

body.no_scroll {
  overflow: hidden;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 1215px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media all and (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media all and (max-width: 767px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
}

@media all and (max-width: 767px) {
  [class*="col_"] {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.img_wrap {
  flex: none;
  overflow: hidden;
}

.img_wrap img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.hover_op {
  transition: opacity 180ms;
  opacity: 1;
}

.hover_op:hover {
  transition: opacity 180ms;
  opacity: 0.5;
}

@media all and (max-width: 1140px) {
  .hover_op:hover {
    opacity: 1;
  }
}

.logo {
  flex: none;
  color: #fff;
  font-weight: 700;
  text-align: right;
  align-items: center;
  font-size: 32px;
  line-height: 48px;
}

@media all and (max-width: 1025px) and (min-width: 769px) {
  .logo {
    font-size: 26px;
  }
}

.logo img {
  width: 64px;
  margin-right: 32px;
}

.green_bg {
  background-color: #028379;
}

header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #028379;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

@media all and (max-width: 1000px) {
  header .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media all and (max-width: 1025px) {
  header {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media all and (max-width: 999px) {
  header {
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and (max-width: 767px) {
  header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

header a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
}

header .store {
  margin-left: 32px;
}

@media all and (max-width: 767px) {
  header .store {
    width: 64px;
    margin-left: 16px;
  }
  header .store img {
    margin-right: 0;
  }
  header .store span {
    display: none;
  }
}

@media all and (max-width: 767px) {
  header .logo span {
    display: none;
  }
}

main {
  flex: 1 1 auto;
  min-height: auto;
}

footer {
  padding: 0 32px 32px 32px;
}

@media all and (max-width: 1140px) {
  footer {
    padding: 0 32px 32px 32px;
  }
}

@media all and (max-width: 767px) {
  footer {
    padding: 0 16px 16px 16px;
  }
}

footer .inner_wrap {
  border-radius: 32px;
  background: #000;
  padding: 96px 32px;
}

@media all and (max-width: 767px) {
  footer .inner_wrap {
    padding: 64px 0;
  }
}

footer .text {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: left;
  margin-bottom: 64px;
  font-family: "Inter - Regular";
  width: 749px;
}

@media all and (max-width: 1240px) {
  footer .text {
    width: 100%;
  }
}

@media all and (max-width: 767px) {
  footer .text {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 28px;
  }
}

footer .socials {
  margin-bottom: 64px;
  align-items: center;
}

@media all and (max-width: 767px) {
  footer .socials {
    margin-bottom: 32px;
  }
}

footer .socials a {
  flex: none;
  height: 24px;
}

footer .socials a + a {
  margin-left: 16px;
}

footer .socials a img {
  height: 24px;
}

@media all and (max-width: 767px) {
  footer .footer_bottom {
    flex-wrap: wrap;
  }
}

footer .copyright {
  opacity: 0.64;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  text-align: left;
  font-family: "Inter - Regular";
}

@media all and (max-width: 767px) {
  footer .copyright {
    margin-bottom: 32px;
  }
}

footer .links {
  align-items: center;
}

footer .links a {
  font-family: "Inter - Regular";
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  text-align: left;
}

footer .links .divider {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  margin-left: 16px;
  margin-right: 16px;
}

@media all and (max-width: 1140px) {
  footer .logo {
    margin-bottom: 64px;
  }
}

@media all and (max-width: 767px) {
  footer .logo span {
    display: none;
  }
}

.store {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  width: 152px;
  height: 64px;
  border-radius: 16px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.store img {
  margin-right: 8px;
}

h1 {
  font-size: 64px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 96px;
  text-align: center;
  margin-bottom: 96px;
  width: 749px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

@media all and (max-width: 1140px) {
  h1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media all and (max-width: 767px) {
  h1 {
    margin-bottom: 64px;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    width: auto;
  }
}

@media all and (max-width: 300px) {
  h1 {
    font-size: 36px;
    line-height: 48px;
  }
}

h2 {
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
  width: 749px;
  max-width: 100%;
}

@media all and (max-width: 1140px) {
  h2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media all and (max-width: 767px) {
  h2 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 64px;
    width: auto;
  }
}

.img_0 {
  margin-bottom: 96px;
  width: 358px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media all and (max-width: 767px) {
  .img_0 {
    width: 179px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 64px;
  }
}

.adwantages {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 64px;
}

@media all and (max-width: 767px) {
  .adwantages {
    margin-bottom: 16px;
  }
}

.adwantages .one {
  width: 100%;
  border-radius: 32px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 32px;
}

@media all and (max-width: 767px) {
  .adwantages .one {
    margin-bottom: 16px;
  }
}

.adwantages .one img {
  width: 96px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.adwantages .one p {
  height: 64px;
  color: #000000;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

@media all and (max-width: 767px) {
  .adwantages .one p {
    height: auto;
  }
}

.qr {
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 767px) {
  .qr {
    margin-bottom: 64px;
  }
}

.qr img {
  display: block;
  margin-bottom: 16px;
  width: 64px;
  margin-left: auto;
  margin-right: auto;
}

.qr p {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  width: 358px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 1140px) {
  .qr p {
    width: 100%;
  }
}

@media all and (max-width: 767px) {
  .qr p {
    font-size: 20px;
    line-height: 28px;
    width: 100%;
  }
}

h3 {
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  text-align: center;
  margin-bottom: 96px;
  display: block;
  max-width: 749px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (width: 768px) {
  h3 {
    letter-spacing: -0.5px;
  }
}

@media all and (max-width: 767px) {
  h3 {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 64px;
  }
}

@media all and (max-width: 300px) {
  h3 {
    font-size: 36px;
    line-height: 48px;
  }
}

.main_top {
  padding-top: 96px;
  overflow: hidden;
}

@media all and (max-width: 767px) {
  .main_top {
    padding-top: 64px;
  }
}

.bg_text {
  position: absolute;
  top: 576px;
  opacity: 0.08;
  color: #000;
  font-size: 256px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 391px;
  text-align: left;
  white-space: nowrap;
  z-index: 0;
  width: 100%;
}

@media all and (max-width: 1025px) {
  .bg_text {
    top: 672px;
  }
}

.bg_text#bg_text_1 {
  transform: translateX(-2980px);
}

.bg_text#bg_text_2 {
  transform: translateX(-1000px);
}

@media all and (max-width: 767px) {
  .bg_text {
    height: 192px;
    font-size: 128px;
    line-height: 192px;
    top: 480px;
    left: 1600px;
  }
}

@media all and (max-width: 376px) {
  .bg_text {
    top: 475px;
  }
}

.bg_text p {
  position: absolute;
}

.main_bottom {
  overflow-x: hidden;
  line-height: 0;
}

.main_bottom .bg_text {
  top: 533px;
  line-height: 383px;
}

@media all and (max-width: 1140px) {
  .main_bottom .bg_text {
    top: 462px;
  }
}

@media all and (max-width: 1000px) {
  .main_bottom .bg_text {
    top: 370px;
  }
}

@media all and (max-width: 767px) {
  .main_bottom .bg_text {
    top: 150px;
    left: 70px;
  }
}

@media all and (max-width: 376px) {
  .main_bottom .bg_text {
    top: 180px;
  }
}

.main_bottom .store {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 96px;
}

@media all and (max-width: 767px) {
  .main_bottom .store {
    margin-bottom: 64px;
  }
}

h4 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 64px;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 64px;
  display: block;
  max-width: 749px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 767px) {
  h4 {
    font-size: 36px;
    line-height: 48px;
    margin-top: 64px;
    margin-bottom: 32px;
  }
}

.terms_policy_wrap {
  padding-top: 96px;
  padding-bottom: 96px;
}

.terms_policy_wrap > *:last-child {
  margin-bottom: 0;
}

@media all and (max-width: 767px) {
  .terms_policy_wrap {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.terms_policy_wrap .support_link {
  text-align: center;
  display: block;
  color: #028379;
  font-family: "Inter - Bold";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-decoration: underline;
  margin-bottom: 96px;
}

@media all and (max-width: 767px) {
  .terms_policy_wrap .support_link {
    margin-bottom: 32px;
  }
}

.terms_policy_wrap h1 {
  color: #000000;
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  margin-block-end: 0.67em;
  text-align: center;
  width: 100%;
  padding-left: 0;
  margin-bottom: 32px;
}

@media all and (max-width: 767px) {
  .terms_policy_wrap h1 {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 300px) {
  .terms_policy_wrap h1 {
    font-size: 36px;
    line-height: 48px;
  }
}

.terms_policy_wrap h2 {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  text-align: left;
  width: 100%;
  padding-left: 0;
}

@media all and (max-width: 767px) {
  .terms_policy_wrap h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

.terms_policy_wrap h3,
.terms_policy_wrap h4 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-block-start: 32px;
  margin-block-end: 0;
  text-align: left;
  width: 100%;
  max-width: 100%;
  padding-left: 0;
}

@media all and (max-width: 767px) {
  .terms_policy_wrap h3,
  .terms_policy_wrap h4 {
    font-size: 20px;
    line-height: 28px;
  }
}

.terms_policy_wrap p {
  color: #000;
  font-family: "Inter - Regular";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.terms_policy_wrap ul,
.terms_policy_wrap ol {
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-position: inside;
}

.terms_policy_wrap li {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  font-family: "Inter - Regular";
}

.terms_policy_wrap li p {
  display: contents;
  margin-bottom: 0;
}

.terms_policy_wrap strong {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Inter - Bold";
}

.terms_policy_wrap a {
  color: #028379;
  text-decoration: underline;
  word-break: break-all;
  font-family: "Inter - Bold";
  font-weight: 700;
}

.terms_policy_wrap a:hover {
  text-decoration: none;
}

.img_3 {
  margin-top: 290px;
}

@media all and (max-width: 767px) {
  .img_3 {
    margin-top: 72px;
  }
}
/*# sourceMappingURL=styles.css.map */